<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP.NET Core MVC Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body class="anime-bg">
    <div class="container py-4">
        <header class="d-flex justify-content-between align-items-center mb-5">
            <div class="d-flex align-items-center">
                <h1 class="logo">Guest Book</h1>
            </div>

            <div class="auth-buttons" id="auth-buttons">
                @if (Context.Session.GetString("Login") == null && Context.Request.Cookies["login"] == null)
                {
                    <a href="javascript:void(0)" class="btn btn-outline-primary me-2" id="btn-btn-login">Login</a>
                    <a href="javascript:void(0)" class="btn btn-primary" id="btn-btn-register">Register</a>

                }
                else
                {
                    var firstName = Context.Session.GetString("FirstName") ?? Context.Request.Cookies["login"];
                    <span class="welcome-text me-3">Welcome, @firstName!</span>

                    <a href="javascript:void(0)" class="btn btn-danger" id="btn-logout">
                        <i class="fas fa-sign-out-alt me-1"></i>Logout</a>
                }
               
            </div>
        </header>
    </div>
    
    <div class="container py-4">
        @RenderBody()
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - AspNetCore
            </div>
        </footer>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* необязательная секция скриптс *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>