@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:30px">
    <h2>@ViewData["Head"]</h2>
    <h2>@ViewBag.Name</h2>
</div>
@*     Эта вьюшка вставляется в мастер страницу Layot *@
@* Это не штмл сртраница а именно вьюшка . Это класс, на основе этой вьюшки будет создан дотнет  класс в сил коде.
В папка вьюшки на основе которых будет потом рендарится страница. *@