@model MVC.Film

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Любая форма по умолчанию отправляется постом 
 asp-for указываем имя свойства и на основании этого свойства создается тестовое поле для ввода значения
 еще  asp-validation-for не делает валидацию но выдает сообщение если модель не валидна
 Так же для valuetype есть стандартная валидация но это неиинтресно,лучше своя валидация
 Названия должны совпадать с названиями свойств модели .Чтоб привзячику было легко привязать каждый неум к соответствующему свойству. 
*@
@*Благодаря установке атрибута формы enctype="multipart/form-data" 
браузер будет знать, что вместе с формой надо передать файл.*@
@* Вьюшка типизируется по определнной модели *@
<h1>Create</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Maker" class="control-label"></label>
                <input asp-for="Maker" class="form-control" />
                <span asp-validation-for="Maker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="uploadedFile" class="form-control" /><br>
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
